* {
    font-family:'Conv_BaskOldFace', Sans-Serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Conv_BaskOldFace';
    src: local('â˜º'), url('fonts/BaskOldFace.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

h1 {
    border-bottom: 1px solid #585858;
    border-top: 1px solid #585858;
    color: #2d2d2d;
    font-size: 47px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

h2 {
    background-color: #C19F63;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 7px 15px;
}

main {
    margin: 0 auto;
    padding-bottom: 60px;
    /*width: 920px;*/
}

.shadematcher {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFF;
    box-shadow: 0 4px 21px rgba(88, 102, 116, 0.11);
    margin-top: 20px;
    padding: 10px;
    /*width: 840px;*/
    min-height: 250px;
}

.shadematcher__colors {
    display: flex;
    max-width: 230px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    justify-content: flex-start;
    margin-left: 15px;
}

.photos {
    margin-top: 30px;
    overflow-x: hidden;
    /*width: 860px;*/
    width: 100%;
    height: 130px;
    text-align: center;
}

.photos div {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
    /*width: 860px;*/
}

.photos div::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.photos div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.photos div::-webkit-scrollbar-thumb {
    background-color: #585858;
    border-radius: 8px;
    outline: 1px solid slategrey;
}

.photo {
    background-color: #FFF;
    box-shadow: 0 4px 21px rgba(88, 102, 116, 0.11);
    height: auto;
    /*margin-right: 50px;*/
    max-height: 117px;
    max-width: 117px;
    object-fit: cover;
    padding: 10px;
    vertical-align: middle;
    width: auto;
    cursor: pointer;
}

.photo__choosed {
    transform: scale(1.1, 1.1) translate(0px, 5px);
    background-color: #C19F63;
}

.loader {
    align-items: center;
    background-color: #FFF;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
}

.loader-spinner {
    animation: spin 2s linear infinite;
    border-radius: 50%;
    border: 16px solid #F3F3F3;
    border-top: 16px solid #C19F63;
    height: 80px;
    width: 80px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#canvas,
#uploaded-photo-overlay {
    position: absolute;
    z-index: 1;
}

.videoColorPanel,
.colorPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color {
    border-radius: 50%;
    height: 40px;
    margin: 5px 8px;
    padding: 2px;
    position: relative;
    width: 40px;
    cursor: pointer;
}

.color:hover > .color__active_border,
.color__active > .color__active_border {
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    border: 2px solid #C19F63;
    height: 50px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 50px;
}

.reset-color {
    display: block;
    position: absolute;
    top: -1px;
    left: 19px;
    background-color: #000;
    width: 1px;
    height: 39px;
    transform: rotate(45deg);
}

.resetter {
    border: 1px solid grey;
}

.suggested {
    font-size: 26px;
    margin-bottom: 10px;
}

/*

SHADEMATCHER STYLES

*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    width: 200px;
    margin: 5px auto;
    text-align: center;
}

#snap,
#resume {
    display: block;
    float: left;
    border: none;
    cursor: pointer;
    background-color: #C19F63;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-right: 10px;
    padding: 7px 15px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 0;
}

#canvasOutput {
    max-width: 640px;
}

#fileInput {
    display: none;
}

#videoInput {
    display: block;
    width: 640px;
    height: 480px;
}

#uploadFile {
    cursor: pointer;
}


@media (max-width: 720px) {

    body {
        width: 720px;
    }

    main {
        width: 720px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }

    header {
        width: 720px;
        margin-top: 40px;
        text-align: center;
    }

    #photos {
        height: 210px;
    }

    .photo {
        margin: 0;
        max-width: 200px;
        max-height: 200px;
    }

    .shadematcher,
    .shadematcher__photo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .controls {
        justify-content: space-around;
        width: 100%;
        padding-left: 10px;
    }

    #snap,
    #resume {
        display: block;
        width: 45%;
        text-align: center;
        font-size: 60px;
        margin: 0;
    }

    #uploadFile {
        width: 90%;
        font-size: 60px;
    }

    .shadematcher__colors {
        max-width: none;
        margin: 10px 0 0 0;
        text-align: center;
    }

    .color {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .color:hover > .color__active_border,
    .color__active > .color__active_border {
        border-radius: 50%;
        height: 90px;
        width: 90px;
        left: -5px;
        top: -5px;
    }

    .suggested {
        font-size: 45px;
    }

    .reset-color {
        top: -1px;
        left: 39px;
        width: 2px;
        height: 80px;
        border-width: 2px;
        transform: rotate(45deg);
    }
}


